<!DOCTYPE html>


<html>


<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>


<body>

    <div class="maincontent">
        {{>header}}
        <p>This site was created by Tomek. It uses data from mapbox and weatherstack</p>
        <img class="portrait" src="/img/tomek.png">
    </div>
    
    {{>footer}}
</body>

</html>